# .gitattributes
# Define standard EOL (end-of-line) format for file types

# Web Files
*.html  text eol=lf
*.md    text eol=lf
*.css   text eol=lf
*.js    text eol=lf

# Jekyll Configuration
*.yml   text eol=lf

# Git Configuration
.gitattributes  text eol=lf
.gitignore      text eol=lf
.gitkeep        text eol=lf

# Ruby
*.rb        text eol=lf
Gemfile     text eol=lf
Gemfile.lock text eol=lf

# Documentation
LICENCE     text eol=lf
README*     text eol=lf

# Docker
Dockerfile  text eol=lf

# Configuration
*.json      text eol=lf

# Binary Media Files
*.jpg   binary
*.jpeg  binary
*.gif   binary
*.png   binary

# Binary Fonts
*.ttf   binary
*.eot   binary
*.eof   binary

# Binary Video
*.mov   binary
*.mp4   binary
*.flv   binary

# Binary Audio
*.mp3   binary
*.ogg   binary

# Binary Data
*.t3x   binary
*.t3d   binary
*.exe   binary
*.data  binary
*.swf   binary
